body{
	background-color: #6E7070;
}

h2{
	text-align: center;
	padding-top: 40px;
	font-family: arial;
	color: #A2A6A6;
}

h4{
	text-align: center;
	padding-top: 10px;
	font-family: arial;
	color: #A2A6A6;
}

p{
	text-align: left;
	padding-top: 10px;
	font-family: arial;
	color: #A2A6A6;
}

a{
	color: #A2A6A6;
}